In [1]:
import pandas as pd
import numpy as np

In [2]:
dataset=pd.read_csv("50_Startups.csv")
# dataset.info

In [3]:
dataset.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [4]:
dataset.columns

Index(['R&D Spend', 'Administration', 'Marketing Spend', 'State', 'Profit'], dtype='object')

In [5]:
y=dataset['Profit']

In [6]:
type(y)

pandas.core.series.Series

In [7]:
y=y.values
type(y)

numpy.ndarray

In [8]:
X=dataset[['R&D Spend', 'Administration', 'Marketing Spend', 'State', 'Profit']]

In [9]:
X.shape

(50, 5)

In [10]:
from sklearn.linear_model import LinearRegression

In [11]:
model=LinearRegression()

In [12]:
# model.fit(X,y) will show error because 'State' feature is in string format
state=X['State']
state.shape
# state

(50,)

In [13]:
type(state)

pandas.core.series.Series

In [14]:
state=state.values
type(state)

numpy.ndarray

In [15]:
state=state.reshape(-1,1)
type(state)
state.shape

(50, 1)

In [16]:
# One-hot encoding
from sklearn.preprocessing import OneHotEncoder
state_ohe=OneHotEncoder()
state_ohe=state_ohe.fit_transform(state)

In [17]:
state_ohe

<50x3 sparse matrix of type '<class 'numpy.float64'>'
	with 50 stored elements in Compressed Sparse Row format>

In [18]:
type(state_ohe)

scipy.sparse.csr.csr_matrix

In [19]:
state_final=state_ohe.toarray()

In [20]:
state_final

array([[0., 0., 1.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 1., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 1., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 1., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.]])

In [21]:
# to solve the issue of dummy variable trap
state_final=state_final[:, 0:2]
state_final

array([[0., 0.],
       [1., 0.],
       [0., 1.],
       [0., 0.],
       [0., 1.],
       [0., 0.],
       [1., 0.],
       [0., 1.],
       [0., 0.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 0.],
       [1., 0.],
       [0., 0.],
       [0., 1.],
       [0., 0.],
       [1., 0.],
       [0., 0.],
       [0., 1.],
       [0., 1.],
       [0., 0.],
       [1., 0.],
       [0., 1.],
       [0., 0.],
       [0., 1.],
       [0., 0.],
       [0., 1.],
       [0., 0.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [0., 0.],
       [0., 1.],
       [1., 0.],
       [0., 0.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [0., 0.],
       [1., 0.],
       [0., 0.],
       [0., 1.],
       [1., 0.],
       [0., 0.],
       [1., 0.]])

In [22]:
X=X.values
X=X[:,0:3]
X

array([[165349.2, 136897.8, 471784.1],
       [162597.7, 151377.59, 443898.53],
       [153441.51, 101145.55, 407934.54],
       [144372.41, 118671.85, 383199.62],
       [142107.34, 91391.77, 366168.42],
       [131876.9, 99814.71, 362861.36],
       [134615.46, 147198.87, 127716.82],
       [130298.13, 145530.06, 323876.68],
       [120542.52, 148718.95, 311613.29],
       [123334.88, 108679.17, 304981.62],
       [101913.08, 110594.11, 229160.95],
       [100671.96, 91790.61, 249744.55],
       [93863.75, 127320.38, 249839.44],
       [91992.39, 135495.07, 252664.93],
       [119943.24, 156547.42, 256512.92],
       [114523.61, 122616.84, 261776.23],
       [78013.11, 121597.55, 264346.06],
       [94657.16, 145077.58, 282574.31],
       [91749.16, 114175.79, 294919.57],
       [86419.7, 153514.11, 0.0],
       [76253.86, 113867.3, 298664.47],
       [78389.47, 153773.43, 299737.29],
       [73994.56, 122782.75, 303319.26],
       [67532.53, 105751.03, 304768.73],
       [77044.01, 99281.34, 140574.81],
       [64664.71, 139553.16, 137962.62],
       [75328.87, 144135.98, 134050.07],
       [72107.6, 127864.55, 353183.81],
       [66051.52, 182645.56, 118148.2],
       [65605.48, 153032.06, 107138.38],
       [61994.48, 115641.28, 91131.24],
       [61136.38, 152701.92, 88218.23],
       [63408.86, 129219.61, 46085.25],
       [55493.95, 103057.49, 214634.81],
       [46426.07, 157693.92, 210797.67],
       [46014.02, 85047.44, 205517.64],
       [28663.76, 127056.21, 201126.82],
       [44069.95, 51283.14, 197029.42],
       [20229.59, 65947.93, 185265.1],
       [38558.51, 82982.09, 174999.3],
       [28754.33, 118546.05, 172795.67],
       [27892.92, 84710.77, 164470.71],
       [23640.93, 96189.63, 148001.11],
       [15505.73, 127382.3, 35534.17],
       [22177.74, 154806.14, 28334.72],
       [1000.23, 124153.04, 1903.93],
       [1315.46, 115816.21, 297114.46],
       [0.0, 135426.92, 0.0],
       [542.05, 51743.15, 0.0],
       [0.0, 116983.8, 45173.06]], dtype=object)

In [23]:
#creating horizontal stack
X_final=np.hstack((X,state_final))
X_final

array([[165349.2, 136897.8, 471784.1, 0.0, 0.0],
       [162597.7, 151377.59, 443898.53, 1.0, 0.0],
       [153441.51, 101145.55, 407934.54, 0.0, 1.0],
       [144372.41, 118671.85, 383199.62, 0.0, 0.0],
       [142107.34, 91391.77, 366168.42, 0.0, 1.0],
       [131876.9, 99814.71, 362861.36, 0.0, 0.0],
       [134615.46, 147198.87, 127716.82, 1.0, 0.0],
       [130298.13, 145530.06, 323876.68, 0.0, 1.0],
       [120542.52, 148718.95, 311613.29, 0.0, 0.0],
       [123334.88, 108679.17, 304981.62, 1.0, 0.0],
       [101913.08, 110594.11, 229160.95, 0.0, 1.0],
       [100671.96, 91790.61, 249744.55, 1.0, 0.0],
       [93863.75, 127320.38, 249839.44, 0.0, 1.0],
       [91992.39, 135495.07, 252664.93, 1.0, 0.0],
       [119943.24, 156547.42, 256512.92, 0.0, 1.0],
       [114523.61, 122616.84, 261776.23, 0.0, 0.0],
       [78013.11, 121597.55, 264346.06, 1.0, 0.0],
       [94657.16, 145077.58, 282574.31, 0.0, 0.0],
       [91749.16, 114175.79, 294919.57, 0.0, 1.0],
       [86419.7, 153514.11, 0.0, 0.0, 0.0],
       [76253.86, 113867.3, 298664.47, 1.0, 0.0],
       [78389.47, 153773.43, 299737.29, 0.0, 0.0],
       [73994.56, 122782.75, 303319.26, 0.0, 1.0],
       [67532.53, 105751.03, 304768.73, 0.0, 1.0],
       [77044.01, 99281.34, 140574.81, 0.0, 0.0],
       [64664.71, 139553.16, 137962.62, 1.0, 0.0],
       [75328.87, 144135.98, 134050.07, 0.0, 1.0],
       [72107.6, 127864.55, 353183.81, 0.0, 0.0],
       [66051.52, 182645.56, 118148.2, 0.0, 1.0],
       [65605.48, 153032.06, 107138.38, 0.0, 0.0],
       [61994.48, 115641.28, 91131.24, 0.0, 1.0],
       [61136.38, 152701.92, 88218.23, 0.0, 0.0],
       [63408.86, 129219.61, 46085.25, 1.0, 0.0],
       [55493.95, 103057.49, 214634.81, 0.0, 1.0],
       [46426.07, 157693.92, 210797.67, 1.0, 0.0],
       [46014.02, 85047.44, 205517.64, 0.0, 0.0],
       [28663.76, 127056.21, 201126.82, 0.0, 1.0],
       [44069.95, 51283.14, 197029.42, 1.0, 0.0],
       [20229.59, 65947.93, 185265.1, 0.0, 0.0],
       [38558.51, 82982.09, 174999.3, 1.0, 0.0],
       [28754.33, 118546.05, 172795.67, 1.0, 0.0],
       [27892.92, 84710.77, 164470.71, 0.0, 1.0],
       [23640.93, 96189.63, 148001.11, 1.0, 0.0],
       [15505.73, 127382.3, 35534.17, 0.0, 0.0],
       [22177.74, 154806.14, 28334.72, 1.0, 0.0],
       [1000.23, 124153.04, 1903.93, 0.0, 0.0],
       [1315.46, 115816.21, 297114.46, 0.0, 1.0],
       [0.0, 135426.92, 0.0, 1.0, 0.0],
       [542.05, 51743.15, 0.0, 0.0, 0.0],
       [0.0, 116983.8, 45173.06, 1.0, 0.0]], dtype=object)

In [24]:
model.fit(X_final,y)

LinearRegression()

In [25]:
model.coef_

array([ 8.06023114e-01, -2.70043196e-02,  2.69798610e-02,  4.18870191e+01,
        2.40675812e+02])